# Dependencias de Node
node_modules/

# Archivos de entorno
.env

# Archivos de logs
*.log

# Directorios de caché y otros archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema operativo
.DS_Store          # macOS
Thumbs.db          # Windows

# IDEs/Editor específicos
.vscode/           # Visual Studio Code
.idea/             # JetBrains IDEs (WebStorm, PhpStorm, etc.)
*.sublime-workspace
*.sublime-project
